spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/anunciosloc}
    username: ${DATABASE_USERNAME:anuncios_user}
    password: ${DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG